
.header {
    padding: 40px 0;
}

.headerNav {
    display: flex;
    column-gap: 100px;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #00000030;
}

.headerLogo {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.headerLogoImg {
    width: 70px;
    height: 70px;
}

.headerTopRight {
    display: flex;
    column-gap: 500px;
    align-items: center;
}

.headerRegister {
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 30px;
    color: #00bbd3;
}


.headerRegisterImg {
    width: 40px;
    height: 40px;
}

.headerLink {
    color: #00bbd3;
    font-size: 16px;
}
.topList {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.cartCount {
    position: absolute;
    top: -10px;
    left: 16px;
    font-size: 18px;
}

.cartImg {
    width: 40px;
    height: 40px;
}


.categoriesLink {
    color: black;
}

.categoriesLink:hover {
    border-top: 7px solid #5360FE;
    padding: 20px 0 0;
    border-radius: 20px 20px;
}

.categoriesLink.active {
    color: #00bbd3;
}

@media (max-width: 1024px) {
    .headerNav {
        column-gap: 70px;
        width: 96%;
    }
    .headerTopRight {
        column-gap: 300px;
    }
}

@media (max-width: 768px) {
    .headerNav {
        column-gap: 50px;
    }

    .headerTopRight {
        column-gap: 150px;
    }
    .topList {
        column-gap: 50px;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 20px 0;
    }
    .headerNav {
        column-gap: 30px;
        padding-bottom: 17px;
    }
    .topList {
        column-gap: 25px;
    }

    .headerTopRight {
        column-gap: 60px;
    }
    .headerLogo {
        font-size: 14px;
    }
    .headerLogoImg {
        width: 60px;
        height: 60px;
    }
    .headerRegister {
        column-gap: 20px;
    }

    .cartImg {
        width: 30px;
        height: 30px;
    }
    .cartCount {
        left: 11px;
    }

    .headerRegisterImg {
        width: 30px;
        height: 30px;
    }

    .categoriesLink {
        font-size: 14px;
    }

    .categoriesListItem {
        width: 100%;
    }
}
@media (max-width: 425px) {
    .header {
        padding: 15px 0;
    }
    .headerNav {
        column-gap: 20px;
        padding-bottom: 15px;
    }
    .topList {
        column-gap: 20px;
    }
    .headerLink {
        font-size: 12px;
    }

    .headerTopRight {
        column-gap: 40px;
    }
    .headerLogo {
        font-size: 10px;
    }
    .headerLogoImg {
        width: 40px;
        height: 40px;
    }
    .headerRegister {
        column-gap: 10px;
    }

    .cartImg {
        width: 20px;
        height: 20px;
    }
    .cartCount {
        font-size: 11px;
        left: 7px;
        top: -7px;
    }

    .headerRegisterImg {
        width: 20px;
        height: 20px;
    }

    .categoriesLink {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .header {
        padding: 10px 0;
    }
    .headerNav {
        column-gap: 20px;
        padding-bottom: 10px;
    }
    .topList {
        column-gap: 15px;
    }
    .headerLink {
        font-size: 10px;
    }

    .headerTopRight {
        column-gap: 40px;
    }
    .headerLogo {
        font-size: 7px;
    }
    .headerLogoImg {
        width: 30px;
        height: 30px;
    }
    .headerRegister {
        column-gap: 12px;
    }

    .cartImg {
        width: 15px;
        height: 15px;
    }
    .cartCount {
        font-size: 10px;
        left: 5px;
        top: -2px;
    }

    .headerRegisterImg {
        width: 15px;
        height: 15px;
    }

    .categoriesLink {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .header {
        padding: 7px 0;
    }
    .headerNav {
        column-gap: 10px;
        padding-bottom: 7px;
    }
    .topList {
        column-gap: 7px;
    }
    .headerLink {
        font-size: 8px;
    }

    .headerTopRight {
        column-gap: 25px;
    }
    .headerLogo {
        font-size: 7px;
    }
    .headerLogoImg {
        width: 25px;
        height: 25px;
    }
    .headerRegister {
        column-gap: 10px;
    }

    .cartImg {
        width: 15px;
        height: 15px;
    }
    .cartCount {
        font-size: 10px;
        left: 5px;
        top: -2px;
    }

    .headerRegisterImg {
        width: 15px;
        height: 15px;
    }

    .categoriesLink {
        font-size: 12px;
    }
}